<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QCM_JavaEE</display-name>
  
  <welcome-file-list>
    <welcome-file>connexion</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>Pool de connexion vers la base BDD_QCM</description>
    <res-ref-name>jdbc/BDD_QCM</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  
  <filter>
	<filter-name>ConnectedFilter</filter-name>
	<filter-class>fr.eni.jee.filter.ConnectedFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>ConnectedFilter</filter-name>
	<url-pattern>/</url-pattern>
	<url-pattern>/connexion</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>RestrictedFilter</filter-name>
	<filter-class>fr.eni.jee.filter.RestrictedFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>RestrictedFilter</filter-name>
	<url-pattern>/Home</url-pattern>
	<url-pattern>/Logout</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>CandidateFilter</filter-name>
	<filter-class>fr.eni.jee.filter.CandidateFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>CandidateFilter</filter-name>
	<url-pattern>/Candidat/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>InternFilter</filter-name>
	<filter-class>fr.eni.jee.filter.InternFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>InternFilter</filter-name>
	<url-pattern>/Candidat/Stagiaire/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>FormerFilter</filter-name>
	<filter-class>fr.eni.jee.filter.FormerFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>FormerFilter</filter-name>
	<url-pattern>/Formateur/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>ManagerFilter</filter-name>
	<filter-class>fr.eni.jee.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>ManagerFilter</filter-name>
	<url-pattern>/Responsable/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>AdminFilter</filter-name>
	<filter-class>fr.eni.jee.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>AdminFilter</filter-name>
	<url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
 
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>fr.eni.jee.bll.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateQuestion</servlet-name>
    <servlet-class>fr.eni.jee.bll.ManagementQuestion.CreateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuestion</servlet-name>
    <url-pattern>/Connected/createQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTheme</servlet-name>
    <servlet-class>fr.eni.jee.bll.ManagementTheme.CreateTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTheme</servlet-name>
    <url-pattern>/Connected/createTheme</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ShowQuestion</servlet-name>
    <servlet-class>fr.eni.jee.bll.ManagementQuestion.ShowQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestion</servlet-name>
    <url-pattern>/Connected/showQuestion</url-pattern>
  </servlet-mapping>
</web-app>