<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QCM_JavaEE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Pool de connexion vers la base BDD_QCM</description>
    <res-ref-name>jdbc/BDD_QCM</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  

  <servlet>
	  <description></description>
	  <display-name>ValidateAccessUser</display-name>
	  <servlet-name>ValidateAccessUser</servlet-name>
	  <servlet-class>fr.eni.jee.bll.ValidateAccessUser</servlet-class>
  </servlet>
  
  <servlet>
	  <description></description>
	  <display-name>ConnectionUser</display-name>
	  <servlet-name>ConnectionUser</servlet-name>
	  <servlet-class>fr.eni.jee.bll.ConnectionUser</servlet-class>
  </servlet>
  
  <servlet>
	  <description></description>
	  <display-name>DeconnectionUser</display-name>
	  <servlet-name>DeconnectionUser</servlet-name>
	  <servlet-class>fr.eni.jee.bll.DeconnectionUser</servlet-class>
  </servlet>
  
</web-app>